# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [2]:
import pandas as pd
import numpy as np
import math
import json
% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [3]:
portfolio

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

In [4]:
len(transcript)

306534

In [5]:
transcript.shape

(306534, 4)

In [6]:
result = transcript.head(10)
print(result)

            event                            person  time  \
0  offer received  78afa995795e4d85b5d9ceeca43f5fef     0
1  offer received  a03223e636434f42ac4c3df47e8bac43     0
2  offer received  e2127556f4f64592b11af22de27a7932     0
3  offer received  8ec6ce2a7e7949b1bf142def7d0e0586     0
4  offer received  68617ca6246f4fbc85e91a2a49552598     0
5  offer received  389bc3fa690240e798340f5a15918d5c     0
6  offer received  c4863c7985cf408faee930f111475da3     0
7  offer received  2eeac8d8feae4a8cad5a6af0499a211d     0
8  offer received  aa4862eba776480b8bb9c68455b8c2e1     0
9  offer received  31dda685af34476cad5bc968bdb01c53     0

                                              value
0  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5  {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6  {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7  {'offer id': '3f207df678b143eea3cee63160fa8bed'}
8  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}

In [11]:
transcript.groupby(['event']).agg('count')

                 person    time   value
event
offer completed   33579   33579   33579
offer received    76277   76277   76277
offer viewed      57725   57725   57725
transaction      138953  138953  138953

In [6]:
result = transcript.head(100)
print(result)

             event                            person  time  \
0   offer received  78afa995795e4d85b5d9ceeca43f5fef     0
1   offer received  a03223e636434f42ac4c3df47e8bac43     0
2   offer received  e2127556f4f64592b11af22de27a7932     0
3   offer received  8ec6ce2a7e7949b1bf142def7d0e0586     0
4   offer received  68617ca6246f4fbc85e91a2a49552598     0
5   offer received  389bc3fa690240e798340f5a15918d5c     0
6   offer received  c4863c7985cf408faee930f111475da3     0
7   offer received  2eeac8d8feae4a8cad5a6af0499a211d     0
8   offer received  aa4862eba776480b8bb9c68455b8c2e1     0
9   offer received  31dda685af34476cad5bc968bdb01c53     0
10  offer received  744d603ef08c4f33af5a61c8c7628d1c     0
11  offer received  3d02345581554e81b7b289ab5e288078     0
12  offer received  4b0da7e80e5945209a1fdddfe813dbe0     0
13  offer received  c27e0d6ab72c455a8bb66d980963de60     0
14  offer received  d53717f5400c4e84affdaeda9dd926b3     0
15  offer received  f806632c011441378d4646567f357a21     0
16  offer received  d058f73bf8674a26a95227db098147b1     0
17  offer received  65aba5c617294649aeb624da249e1ee5     0
18  offer received  ebe7ef46ea6f4963a7dd49f501b26779     0
19  offer received  1e9420836d554513ab90eba98552d0a9     0
20  offer received  868317b9be554cb18e50bc68484749a2     0
21  offer received  f082d80f0aac47a99173ba8ef8fc1909     0
22  offer received  102e9454054946fda62242d2e176fdce     0
23  offer received  4beeb3ed64dd4898b0edf2f6b67426d3     0
24  offer received  9f30b375d7bd4c62a884ffe7034e09ee     0
25  offer received  25c906289d154b66bf579693f89481c9     0
26  offer received  6e014185620b49bd98749f728747572f     0
27  offer received  02c083884c7d45b39cc68e1314fec56c     0
28  offer received  c0d210398dee4a0895b24444a5fcd1d2     0
29  offer received  8be4463721e14d7fa600686bf8c8b2ed     0
..             ...                               ...   ...
70  offer received  21c73d53e2a74bb1b4dc172bff2b1aad     0
71  offer received  488773cae11f4b71875bfccd4e3e99f2     0
72  offer received  182e68952b474700b171e21b85c258ac     0
73  offer received  1abeb816d9fa49b4b5b5ae51bc3d24c3     0
74  offer received  92e07c49ee7448fca6e48df0c96e3eec     0
75  offer received  f8aedd0cbea0419c806842b4265b82e5     0
76  offer received  5e9c83e8ab4d4e9ca83f3256d83ca756     0
77  offer received  a9780228a1d04539afdee8b745e4be10     0
78  offer received  94f14dcfedba47e18b7efca13dd7574b     0
79  offer received  8a4bc602e4424ab6b16f0b907f2f22af     0
80  offer received  6d28f18e91324d358d69d1e4b01f1ace     0
81  offer received  52f0bd64403f4958ab8fe9a6947c13c3     0
82  offer received  93e67942586e43fb87d5ffb1ead8db41     0
83  offer received  716a961d2afb4c1d8307522a8cbb4f07     0
84  offer received  13033baa9d294c3c9165a00d71b72614     0
85  offer received  d41fa9b8c2e24a1d94caa890c53bbcf6     0
86  offer received  1a353048b0884fc5a0afa27677ef1e80     0
87  offer received  c099206f76b1414db7552f163520053c     0
88  offer received  e6d3eebb535e44aca1323edde5c346fa     0
89  offer received  2cf5895bddf9467e878c6d51a622d5fb     0
90  offer received  6747dda08bed46298c23e05b64820a3a     0
91  offer received  f35b342b24734da18a830bb9329a4fbd     0
92  offer received  4c29d22467af4d7faa137c4eedd65340     0
93  offer received  e997a086fc13446da2aa9070d98d191a     0
94  offer received  17af917bb842480e925e49a8ca08c1f8     0
95  offer received  7c8479d8241344f6a0c306621e191c75     0
96  offer received  5404741ead9442bdbd4b9aa2273e85af     0
97  offer received  81e9ad5fa55a4884b65e01a5db8f1b4e     0
98  offer received  ed46fca6de7042478b411690878dc069     0
99  offer received  37a97f6e09784a07bbb67bc6539f1a00     0

                                               value
0   {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1   {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2   {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3   {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4   {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5   {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6   {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7   {'offer id': '3f207df678b143eea3cee63160fa8bed'}
8   {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9   {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
10  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
11  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
12  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
13  {'offer id': '3f207df678b143eea3cee63160fa8bed'}
14  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
15  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
16  {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
17  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
18  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
19  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
20  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
21  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
22  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
23  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
24  {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
25  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
26  {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
27  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
28  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
29  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
..                                               ...
70  {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
71  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
72  {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
73  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
74  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
75  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
76  {'offer id': '3f207df678b143eea3cee63160fa8bed'}
77  {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
78  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
79  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
80  {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
81  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
82  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
83  {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
84  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
85  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
86  {'offer id': '5a8bc65990b245e5a138643cd4eb9837'}
87  {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
88  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
89  {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
90  {'offer id': '3f207df678b143eea3cee63160fa8bed'}
91  {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
92  {'offer id': '5a8bc65990b245e5a138643cd4eb9837'}
93  {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
94  {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
95  {'offer id': '5a8bc65990b245e5a138643cd4eb9837'}
96  {'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
97  {'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
98  {'offer id': '2906b810c7d4411798c6938adc9daaa5'}
99  {'offer id': '3f207df678b143eea3cee63160fa8bed'}

[100 rows x 4 columns]

In [10]:
 transcript.groupby(['event']).size()

event
offer completed     33579
offer received      76277
offer viewed        57725
transaction        138953
dtype: int64

In [38]:
33579/(33579+76277+57725+138953)

0.10954412887314295

In [14]:
result = profile.head(10)
print(result)

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN
5   68          20180426      M  e2127556f4f64592b11af22de27a7932   70000.0
6  118          20170925   None  8ec6ce2a7e7949b1bf142def7d0e0586       NaN
7  118          20171002   None  68617ca6246f4fbc85e91a2a49552598       NaN
8   65          20180209      M  389bc3fa690240e798340f5a15918d5c   53000.0
9  118          20161122   None  8974fc5686fe429db53ddde067b88302       NaN

In [33]:
 profile.groupby(['age']).size()

age
18       70
19      135
20      135
21      140
22      131
23      126
24      139
25      136
26      157
27      139
28      137
29      129
30      131
31      113
32      139
33      152
34      147
35      118
36      175
37      197
38      172
39      182
40      202
41      189
42      227
43      215
44      192
45      231
46      212
47      232
       ...
73      209
74      193
75      159
76      155
77      141
78      135
79      117
80      116
81      118
82      105
83      102
84       83
85       70
86       54
87       66
88       64
89       53
90       52
91       47
92       40
93       29
94       33
95       22
96        8
97       13
98        5
99        5
100      12
101       5
118    2175
Length: 85, dtype: int64

In [34]:
6129+8484+212+2175

17000

In [32]:
len (profile)

17000

In [36]:
profile.loc[profile['age'] == 118]

       age  became_member_on gender                                id  income
0      118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783     NaN
2      118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5     NaN
4      118          20170804   None  a03223e636434f42ac4c3df47e8bac43     NaN
6      118          20170925   None  8ec6ce2a7e7949b1bf142def7d0e0586     NaN
7      118          20171002   None  68617ca6246f4fbc85e91a2a49552598     NaN
9      118          20161122   None  8974fc5686fe429db53ddde067b88302     NaN
10     118          20170824   None  c4863c7985cf408faee930f111475da3     NaN
11     118          20150919   None  148adfcaa27d485b82f323aaaad036bd     NaN
17     118          20170801   None  744d603ef08c4f33af5a61c8c7628d1c     NaN
23     118          20170907   None  2b826eba31074a059d63b0ae8f50b7d5     NaN
26     118          20170330   None  65aba5c617294649aeb624da249e1ee5     NaN
36     118          20160707   None  4beeb3ed64dd4898b0edf2f6b67426d3     NaN
39     118          20180113   None  25c906289d154b66bf579693f89481c9     NaN
44     118          20141111   None  5b8f1f0e0930464f93bb55e59b5a04e0     NaN
45     118          20170511   None  8be4463721e14d7fa600686bf8c8b2ed     NaN
54     118          20170528   None  81ac76e4f2fe4a6bb5ebdc0f19cecc56     NaN
56     118          20171013   None  020d3a52b9ce432ea5f98fc58e9bfcc4     NaN
57     118          20151220   None  4be1127413db496d8103c783ae72058b     NaN
80     118          20170918   None  9d8d6bb2fc544a9c802888971ee3e8b1     NaN
84     118          20150920   None  a89752cdfdf24779aa22faa2bc24e7c2     NaN
96     118          20160806   None  53bac762af27471eb294ff89ca1bae2c     NaN
103    118          20170223   None  488773cae11f4b71875bfccd4e3e99f2     NaN
104    118          20170823   None  182e68952b474700b171e21b85c258ac     NaN
108    118          20160130   None  5e9c83e8ab4d4e9ca83f3256d83ca756     NaN
121    118          20150730   None  c099206f76b1414db7552f163520053c     NaN
122    118          20171125   None  e6d3eebb535e44aca1323edde5c346fa     NaN
128    118          20160418   None  baba98dba43e42ae8e86cbd70725e201     NaN
143    118          20161018   None  58748c1cf9f746838c6ec62acdff28ad     NaN
169    118          20150905   None  770df32893694100afc703ea9c9df401     NaN
172    118          20180114   None  50b92ea51e2649dfbf7120d5e554e991     NaN
...    ...               ...    ...                               ...     ...
16820  118          20151015   None  64257cb56316491fae38e62f2687a66c     NaN
16829  118          20171007   None  56a0b671fa0347beb8b60011a15800aa     NaN
16831  118          20170910   None  060c0b9181674d03aa181b75353b9422     NaN
16835  118          20161211   None  587453e2944b4c6699519a217bf87de6     NaN
16839  118          20180626   None  d6063a30185b4e60b58a445bacec5f56     NaN
16842  118          20151110   None  a225189b10a141d5bb1ff0a05265da4c     NaN
16844  118          20170228   None  4342cb3414534aaca96ac523edc82654     NaN
16845  118          20150815   None  d1477e69857f42d18929f6f29b3be427     NaN
16852  118          20140605   None  6c0df9b1d3b8401c8098c7c7f9977d89     NaN
16853  118          20171123   None  7b3b8100d6444861803cefc6b13c9a43     NaN
16856  118          20150729   None  3a02d786fbc143edb257665ad54c5c09     NaN
16861  118          20171212   None  8f4364144e0548f885b390f28aabe2b8     NaN
16869  118          20160607   None  1efb4a45f5c34db4b07ebd19bdfc1b41     NaN
16875  118          20170129   None  113f3f07ac2b4f8b940d6136233ae3ee     NaN
16877  118          20180307   None  b6f74fc8e1664cfb9b44834dd9f7cf48     NaN
16885  118          20150804   None  123ec648e228460589182607c0db4dd5     NaN
16906  118          20170729   None  09f61d1d6e05402ca923d614dda52d57     NaN
16915  118          20171021   None  7b32b3085ad540a58482c091b1dca914     NaN
16923  118          20160209   None  54ed2d25754a486fba36eb5c7541203a     NaN
16931  118          20170913   None  e6843a4996574eb693ab864ecc406d56     NaN
16942  118          20170728   None  ba12d53863b3456f930ac62e2503fe48     NaN
16951  118          20171029   None  5ca2620962114246ab218fc648eb3934     NaN
16953  118          20170901   None  653d8f383fab43d4a93b10b02bd67266     NaN
16969  118          20131212   None  f19d9482309d4e93ad74935f9e46e44c     NaN
16977  118          20160609   None  eb7dd979f4644052a5c401a01f129132     NaN
16980  118          20160901   None  5c686d09ca4d475a8f750f2ba07e0440     NaN
16982  118          20160415   None  d9ca82f550ac4ee58b6299cf1e5c824a     NaN
16989  118          20180305   None  ca45ee1883624304bac1e4c8a114f045     NaN
16991  118          20160116   None  a9a20fa8b5504360beb4e7c8712f8306     NaN
16994  118          20151211   None  c02b10e8752c4d8e9b73f918558531f7     NaN

[2175 rows x 5 columns]

In [25]:
profile.loc[profile['id'] == "a89752cdfdf24779aa22faa2bc24e7c2"]

    age  became_member_on gender                                id  income
84  118          20150920   None  a89752cdfdf24779aa22faa2bc24e7c2     NaN